tmp/*
wp-backups/
.env
.envrc

# mysql outputs
mysql/outputs
mysql/backup

# Created by https://www.toptal.com/developers/gitignore/api/wordpress
# Edit at https://www.toptal.com/developers/gitignore?templates=wordpress

### WordPress ###
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
#/wp/wp-content/plugins/index.php

# Example plugin
#/wp/wp-content/plugins/hello.php

# Uploads
/wp/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
# Note: If you wish to whitelist plugins,
# uncomment the next line
/wp/wp-content/plugins

# All themes
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
/wp/wp-content/themes/kuroneko-hair/assets
/wp/wp-content/themes/twenty*
/wp/wp-content/themes/index.php


# End of https://www.toptal.com/developers/gitignore/api/wordpress

